{% extends 'base.html' %}

{% block title %} - Register{% endblock %}

{% block styles %}
{{ super() }}

<link rel="stylesheet" href="{{ url_for('static', filename='css/authentication.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
{% endblock %}



{% block content %}
{% if request.endpoint == 'register' %}
<body class="authentication-section">
{% else %}
<body>
{% endif %}

<div class="form-container authentication-section">
  <div class="wrapper">
    <div class="title">Sign Up</div>
    <form class="authentication-form" action="{{ url_for('register') }}" method="POST">
      {{ form.csrf_token }}
            
      {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {%for category, message in messages%}
                <div class="alert alert-{{category}}" role="alert" id="flash-message">
                  {{message}}
                </div>
              {% endfor %}
          {% endif %}
      {% endwith %}

      {% if form.confirm_password.errors %}
          <div class="alert alert-danger mt-2" role="alert">
              {{ form.confirm_password.errors[0] }}
          </div>
      {% endif %}

      <div class="row">
        <i class="fas fa-user"></i>
        {{ form.username(placeholder="Enter your username", required="required") }}
      </div>
      <div class="row">
        <i class="fas fa-envelope"></i>
        {{ form.email(placeholder="Enter your email", required="required") }}
      </div>
      <div class="row">
        <i class="fas fa-lock"></i>
        {{ form.password(placeholder="Enter your password", required="required") }}
      </div>
      <div class="row">
        <i class="fas fa-lock"></i>
        {{ form.confirm_password(placeholder="Confirm your password", required="required") }}
        
      </div>
      <div class="row button">
        <input type="submit" value="Register">
      </div>
      <div class="signup-link">Already have an account? <a href="{{url_for('login')}}">Login now</a></div>
      
    </form>
  </div>
</div>
</body>
{% endblock %}
