{% extends 'base.html' %}

{% block title %} - {{current_user.username.title()}}/Reset Password{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/authentication.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
{% endblock %}


{% block content %}
{% if request.endpoint == 'reset_password' %}
<body class="authentication-section">
{% else %}
<body>
{% endif %}
<div class="form-container authentication-section">
  <div class="wrapper">
    <div class="title">Reset Password</div>
    <form class="authentication-form" action="{{ url_for('reset_password',username=current_user.username) }}" method="POST">
      {{ form.csrf_token }}
            
      {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {%for category, message in messages%}
                <div class="alert alert-{{category}}" role="alert" id="flash-message">
                  {{message}}
                </div>
              {% endfor %}
          {% endif %}
      {% endwith %}

      {% if form.new_confirm_password.errors %}
          <div class="alert alert-danger mt-2" role="alert">
              {{ form.new_confirm_password.errors[0] }}
          </div>
      {% endif %}

      <div class="row">
        <i class="fas fa-lock"></i>
        {{ form.old_password(placeholder="Enter your old password", required="required") }}
      </div>
      <div class="row">
        <i class="fas fa-lock"></i>
        {{ form.new_password(placeholder="Enter your new password", required="required") }}
      </div>
      <div class="row">
        <i class="fas fa-lock"></i>
        {{ form.new_confirm_password(placeholder="Confirm your new password", required="required") }}
      </div>
      <div class="row button">
        <input type="submit" value="Reset Password">
      </div>
    </form>
  </div>
</div>
</body>
{% endblock %}
